<!DOCTYPE html>
<html class="bg-slate-100">
  <head>
    <title>StudentofconflictCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto bg-white p-4 border border-slate-300 rounded mt-4 drop-shadow">
    <%= yield %>
  </body>
</html>
