<!DOCTYPE html>
<html class="bg-stone-200">
  <head>
    <title><%= browser_title.html_safe %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div class="relative bg-white shadow overflow-hidden">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <%= render 'layouts/header' %>
          <main class="container p-8">
            <%= yield %>
          </main>
        </div>
      </div>

      <% if content_for?(:splash_image) %>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <%= yield :splash_image %>
        </div>
      <% end %>
    </div>
  </body>
</html>
